/* .header {
  color: #f77
} */

[class="header"] {
  color: #f66;
}

[src="https://picsum.photos/id/6/200"] {
  border-radius: 50%;
}

[src="https://picsum.photos/id/60/200"] {
  border-radius: 50%;
  border: 10px dashed #f11;
}

[href="./about.html"] {
  background-color: #000;
}